body {
  margin: 0;
  padding: 0;
}

/*nav styles: start here */
.nav-link {
  transition: opacity 200ms ease-in-out;
  text-transform: uppercase;
  font-weight: 600;
  color: #040404;
  overflow: hidden;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  margin-top: 2px;
  border-radius: 2px;
  background: #040404;
  transition: width 200ms ease-in-out;
}

.active-nav-item > a::after,
.nav-link:hover::after {
  width: 100%;
}
.navbar-text {
  font-size: 1rem;
  font-weight: 600;
}
.navbar-toggler {
  border: 1px solid black;
}
.navbar-toggler-icon {
  height: 2px;
}
.nav-link:hover {
  color: black;
}
.custom-toggler.navbar-toggler {
  border-color: black;
} 
.navbar-toggler {
  width: 47px;
  height: 34px;
}
.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}
/*nav styles: end here */
/*Home nav styles: start here */
.home-container, .about-container {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.home-container > div {
  width: 50%;
}
.home-img {
  width: 100%;
}
.home-img-container {
  animation: right_to_left 3s ease;
}
.home-txt-container {
  animation: left_to_right 3s ease;
}
@keyframes right_to_left {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes left_to_right {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(0);
  }
}
/*Home nav styles: end here */
/*Footer nav styles: start here */
#footer-col1, #footer-col2 {
  margin-top: 3rem;
}
.page-footer {
  background-color: black;
}
li, #footer-header {
  color: white;
}
i:hover {
  opacity: 70%;
}
/*Footer nav styles: End here */
/*About nav styles: Start here */
.about-container {
  justify-content: center;
}
.about-header {
  border-bottom: 4px solid blue;
}
/*About nav styles: End here */