body {
  /* background-color: black; */
  margin: 0;
}

/*nav styles: start here */
.nav-link {
  transition: opacity 200ms ease-in-out;
  text-transform: uppercase;
  font-weight: 600;
  color: #040404;
  overflow: hidden;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  margin-top: 2px;
  border-radius: 2px;
  background: #040404;
  transition: width 200ms ease-in-out;
}

.active-nav-item > a::after,
.nav-link:hover::after {
  width: 100%;
}
.navbar-text {
  font-size: 1rem;
  font-weight: 600;
}
.navbar-toggler {
  border: 1px solid black;
}
.navbar-toggler-icon {
  height: 2px;
}
.nav-link:hover {
  color: black;
}
.custom-toggler.navbar-toggler {
  border-color: black;
} 
.navbar-toggler {
  width: 47px;
  height: 34px;
}
.navbar-toggler .line {
  width: 100%;
  float: left;
  height: 2px;
  background-color: black;
  margin-bottom: 5px;
}
/*nav styles: end here */
/*Home nav styles: start here */
#home-img {
  width: 50%;
}
#intro-txt {
  margin-top: 10%;
}
#home-container > div {
  padding: 1rem;
  text-align: center;
}
.intro-img {
  animation: right_to_left 3s ease;
}

#intro-txt {
  animation: left_to_right 3s ease;
}

@keyframes right_to_left {
  from {
    margin-right: 80%;
  }
  to {
    margin-right: 0;
  }
}

@keyframes left_to_right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}
/*Home nav styles: end here */